<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.pdm.grupo17.thothnews"
    android:versionCode="3"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />

    <!-- NetworkReceiver -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required for fetching feed data. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Notification -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Save Avatar on SD -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Save & Edit & Delete Calendar Events -->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <!-- Required to register a SyncStatusObserver to display a "syncing..." progress indicator. -->
    <uses-permission android:name="android.permission.READ_SYNC_STATS"/>
    <!-- Required to enable our SyncAdapter after it's created. -->
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <!-- Required because we're manually creating a new account. -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

    <!--android:debuggable="true"-->
    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:vmSafeMode="true"
        android:allowClearUserData="true"
        android:hardwareAccelerated="true">
        <activity
            android:name=".activities.ClassesActivity"
            android:label="@string/label_app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/label_activity_preferences" />
        <activity
            android:name=".activities.ClassesPickActivity"
            android:label="@string/title_activity_class_pick" />
        <activity
            android:name=".activities.ClassSectionsActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:label="@string/label_class_section_view" />
        <activity
            android:name=".activities.SingeNewActivity"
            android:label="@string/label_activity_new_view" />
        <activity
            android:name=".activities.WebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.NoTitleBar"/>

        <receiver android:name=".receivers.NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="action_data_mobile_change" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".data.providers.ThothProvider"
            android:authorities="pt.isel.pdm.grupo17.thothnews"
            android:enabled="true"
            android:exported="false" >
        </provider>

        <service
            android:name=".services.ThothUpdateService"
            android:exported="false" >
        </service>

        <!-- This service implements our SyncAdapter. It needs to be exported, so that the system
        sync framework can access it. -->
        <service android:name=".services.SyncService"
            android:exported="true"
            android:permission="true">
            <!-- This intent filter is required. It allows the system to launch our sync service
            as needed. -->
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <!-- This points to a required XML file which describes our SyncAdapter. -->
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
        <!-- This implements the account we'll use as an attachment point for our SyncAdapter. Since
        our SyncAdapter doesn't need to authenticate the current user (it just fetches a public RSS
        feed), this account's implementation is largely empty.

        It's also possible to attach a SyncAdapter to an existing account provided by another
        package. In that case, this element could be omitted here. -->
        <service android:name=".accounts.GenericAccountService"
            android:exported="false" >
            <!-- Required filter used by the system to launch our account service. -->
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <!-- This points to an XMLf ile which describes our account service. -->
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
    </application>

</manifest>
