<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pt.isel.pdm.grupo17.thothnews"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/thoth_icon"
        android:label="@string/label_app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pt.isel.pdm.grupo17.thothnews.activities.ClassesActivity"
            android:label="@string/title_activity_classes" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.isel.pdm.grupo17.thothnews.activities.NewsActivity"
            android:label="@string/label_app_name"
            android:parentActivityName="pt.isel.pdm.grupo17.thothnews.activities.ClassesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ClassesActivity" />

            <intent-filter>
                <action android:name=".NewViewActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.isel.pdm.grupo17.thothnews.activities.PreferencesActivity"
            android:label="@string/label_activity_preferences"
            android:parentActivityName="pt.isel.pdm.grupo17.thothnews.activities.ClassesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name=".PreferencesActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pt.isel.pdm.grupo17.thothnews.activities.SingeNewActivity"
            android:label="@string/label_activity_new_view"
            android:parentActivityName="pt.isel.pdm.grupo17.thothnews.activities.ClassesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />

            <intent-filter>
                <action android:name=".NewViewActivity" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="pt.isel.pdm.grupo17.thothnews.broadcastreceivers.NetworkReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="pt.isel.pdm.grupo17.thothnews.data.ThothProvider"
            android:authorities="pt.isel.pdm.grupo17.thothnews"
            android:enabled="true"
            android:exported="true" >
        </provider>
    </application>

</manifest>
